selenium test cases/AssignmentClentServer/ClientServerProject1/Multiplication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://AssignmentPackage" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://AssignmentPackage" xmlns:intf="http://AssignmentPackage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://AssignmentPackage" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="mul">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mulResponse">
    <complexType>
     <sequence>
      <element name="mulReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mulRequest">

      <wsdl:part element="impl:mul" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mulResponse">

      <wsdl:part element="impl:mulResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Multiplication">

      <wsdl:operation name="mul">

         <wsdl:input message="impl:mulRequest" name="mulRequest">

       </wsdl:input>

         <wsdl:output message="impl:mulResponse" name="mulResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MultiplicationSoapBinding" type="impl:Multiplication">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="mul">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mulRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mulResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MultiplicationService">

      <wsdl:port binding="impl:MultiplicationSoapBinding" name="Multiplication">

         <wsdlsoap:address location="http://localhost:8080/ProjectAssignment1/services/Multiplication"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
